* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    min-height: 120px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 0 5% 0 10%;
    margin: 0 15px 15px 0;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.navbar .navimg {
    margin: 15px 0 15px 0;
    min-width: 120px;
}

.navbar .navmenu {
    display: flex;
    list-style: none;
    margin-left: 2%;
    align-items: center;
}

.navmenu .navitem {
    padding-right: 35px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}