.title-block {
    text-align: center;
    margin: 40px 0 80px 0;
    line-height: 20px;
}

.title-block>h1 {
    text-transform: uppercase;
    font-size: 30pt;
    padding-bottom: 40px;
}

.description-block {
    display: flex;
    margin: 30px 0 50px 0;
    align-items: center;
}

.description {
    margin: 20px 40px 30px 20px;
    width: 60%;
}

.description h3 {
    color: #1a5276;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.topics {
    margin: 50px 0 50px 0;
}

.topics h4 {
    color: #1a5276;
    font-size: 1.1em;
    margin-left: 30px;
    margin-bottom: -4px;
}

.topics ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.topics ul>li {
    max-width: 45%;
    margin: 10px 20px 10px 20px;
}

.topics ul>li span {
    text-transform: uppercase;
    font-weight: bold;
}

.topics ul>li p{
    font-size: .95em;
}

.team-block {
    margin: 50px 0 50px 0;
}

.team-block h4 {
    color: #1a5276;
    font-size: 1.1em;
    margin-left: 30px;
    margin-bottom: -4px;
}

.team-block ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.team-block ul>li {
    width: 22%;
    margin: 0 5% 0 5%;
    font-size: 1.1em;
    text-align: center;
}

.team-block ul>li p {
    margin-top: -5px;
}

.publications {
    padding-bottom: 20px;
}

.publications h4 {
    color: #1a5276;
    font-size: 1.1em;
    margin-left: 30px;
}

.publications ul {
    margin-left: 15px;
    list-style: none;
}

.contact {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin: 60px 0 50px 0;
}

.contact span {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .description-block {
        display: inline;
    }
    .description {
        width: 90%;
        margin-top: 50px;
    }
    .topics ul {
        display: inline;
        margin: 0;
    }
    .topics ul li {
        max-width: 80%;
        margin-left: 12%;
        margin-bottom: 40px;
    }
    .team-block ul {
        display: inline;
        justify-content: center;
    }
    .team-block ul li {
        width: 66%;
        margin-left: 20%;
        justify-content: center;
    }

}